<!DOCTYPE html>
<html>
  <head>
    <title>Music App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>

  </head>

  <body>
  <% if logged_in? %>
  <h4>Welcome, <%= current_user.email %> </h4>
   <form action="<%= session_url %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <button>Log Out!</button>
  <%end%>

<% if logged_in? == false %>
  <div class="login_header">
    <a href= "<%= new_user_url %>"> Sign Up </a>
    <a href="<%= new_session_url %>"> Log in </a>
</div>
<% end %>



    <%= yield %>
  </body>
</html>
